/* Colores */

$azulDirecto: #00448a;
$azulTexto: #00458a;
$grisTexto: #828282;
$grisFondo: #BDBDBD;
$grisError: #6980a7;
$grisLista: #828282;
$verdeTexto: #219653;
$verdeTexto2: #219653;
$rojoTexto: #e41f26;
$rojoGoogle: #dd4b39;
$azulFacebook: #00448a;
$blanco: #FFFFFF;
