/* Colores */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

*:focus {
  outline: none;
}

/* Cabecera de Directo */
.header__directo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #00448a;
  height: 4.7rem;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header__directo--logo {
  margin-top: 1rem;
  max-width: 18.56rem;
  width: 100%;
}

/* MAIN - validacion-identidad-comercio - inicio */
.bienvenida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bienvenida__titulo {
  font-size: 1.5rem;
  color: #00458a;
  font-weight: bold;
}

.bienvenida__nombre {
  font-size: 5vw;
  color: #00458a;
}

.bienvenida__documento {
  font-size: 4.9vw;
  color: #828282;
}

.validacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2.4rem;
}

.validacion__titulo {
  color: #219653;
  font-weight: bold;
  font-size: 1.25rem;
}

.validacion__necesitamos {
  color: #00458a;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 2.4rem;
}

.validacion__requisitos {
  margin-top: 0.5rem;
}

.validacion__requisitos h4 {
  color: #00458a;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.3rem;
}

.botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.botones input, .botones button {
  font-size: 5.5vw;
  max-width: 92.5%;
}

.botones__verde {
  width: 20rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#29c001), to(#1f8e01));
  background: linear-gradient(180deg, #29c001 0%, #1f8e01 100%);
  font-size: 1.25rem;
  border-radius: 24px;
  color: #FFFFFF;
  font-weight: bold;
  height: 48px;
  margin-top: 1.5rem;
  outline: none !important;
  text-transform: uppercase;
}

.botones__azul {
  width: 20rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#0175ed), to(#00448a));
  background: linear-gradient(180deg, #0175ed 0%, #00448a 100%);
  font-size: 1.25rem;
  border-radius: 24px;
  color: #FFFFFF;
  font-weight: bold;
  height: 48px;
  margin-top: 1.5rem;
  outline: none !important;
  text-transform: uppercase;
}

.botones__blanco {
  width: 20rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: #ffffff;
  font-size: 1.25rem;
  border-radius: 24px;
  color: #FFFFFF;
  font-weight: bold;
  height: 48px;
  margin-top: 1.5rem;
  outline: none !important;
  text-transform: uppercase;
}

.botones.poco-clara {
  margin-top: 6.5rem;
}

.politicas p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #828282;
  font-weight: normal;
  font-size: 11px;
}

.boton-politicas:focus, .boton-politicas:active {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.texto-politicas {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #828282;
  font-weight: normal;
  font-size: 0.9rem;
  margin-top: -2rem;
}

/* MAIN - validacion-identidad-comercio - fin */
/* ========================================= */
/* MAIN - error-comercio-usuario - inicio */
.icono-alerta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.icono-alerta svg {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: calc(50% + 48px);
  left: calc(50% - 24px);
}

.mensaje-error {
  margin-top: 10rem;
}

.mensaje-error h3 {
  text-align: center;
  color: #00458a;
  font-weight: normal;
  font-size: 1.9rem;
}

.mensaje-error span {
  position: relative;
  top: 1.4rem;
  color: #00458a;
  font-weight: normal;
  font-size: 1.2rem;
}

/* MAIN - error-comercio-usuario - fin */
/* ========================================= */
/* MAIN -validacion-identidad-cliente - inicio */
.mensaje-cliente {
  text-align: center;
  margin-top: 2.2rem;
}

.mensaje-cliente h4 {
  line-height: 23px;
  color: #00458a;
  font-weight: bold;
  font-size: 1.25rem;
}

.mensaje-cliente h3 {
  color: #00458a;
  font-weight: normal;
  font-size: 7.5vw;
  line-height: 1.7rem;
  margin-top: 5rem;
}

.mensaje-cliente .limite-30 {
  color: #00458a;
  font-weight: normal;
  font-size: 1.25rem;
}

.mensaje-cliente-felicitaciones {
  text-align: center;
}

.mensaje-cliente-felicitaciones h2 {
  margin-top: 3rem;
  color: #00458a;
  font-weight: bold;
  font-size: 11vw;
}

.mensaje-cliente-felicitaciones h3 {
  margin-top: 1.45rem;
  color: #00458a;
  font-weight: 500;
  font-size: 7vw;
}

.continuar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.continuar .no-continuar {
  margin-top: 1.8rem;
  color: #828282;
  font-weight: normal;
  font-size: 1rem;
}

.continuar .final-cliente {
  margin-top: 7.5rem;
}

/* MAIN validacion-identidad-cliente - fin */
/* ========================================= */
/* MAIN login-comercio - inicio */
.container-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  z-index: 9999;
  cursor: pointer;
  display: none;
}

.container-overlay__popup {
  position: absolute;
  max-width: 310px;
  width: 100%;
  margin: auto;
  height: 303px;
  background: #ffffff;
  border-radius: 13px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container-overlay__popup .cerrar-popup {
  position: absolute;
  right: 1rem;
  top: 0.2rem;
  font-size: 1rem;
  text-decoration: none;
  color: #828282;
}

.container-overlay__popup svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.8rem auto;
  width: 60px;
  height: 55px;
}

.container-overlay__popup .mensaje-telefono h3 {
  text-align: center;
  letter-spacing: -0.457692px;
  line-height: 30px;
  font-size: 1.45rem;
  color: #6980a7;
  font-weight: normal;
}

.container-overlay__popup .mensaje-telefono h3 .telefono {
  font-weight: bold;
}

.formulario-login {
  margin-top: 3.3rem;
}

.formulario-login__label {
  color: #00458a;
  font-weight: 500;
  margin-top: 2rem;
}

.formulario-login__contenedor--icon {
  background: white;
  border-right: none;
  border: 1px solid #00458a;
}

.formulario-login__contenedor--input {
  border: 1px solid #00458a;
  border-left: none;
}

.formulario-login__contenedor .form-control:valid {
  background-color: #ffffff !important;
}

.formulario-login__contenedor input:not(:placeholder-shown) {
  background-color: #ffffff !important;
}

.formulario-login__contenedor input:placeholder-shown {
  background-color: #ffffff !important;
}

.formulario-login__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2.6rem;
}

.formulario-login__submit .olvide-clave {
  margin-top: 2.7rem;
  color: #828282;
  font-weight: normal;
  font-size: 0.9rem;
}

.formulario-login__error {
  display: none;
  position: absolute;
  color: #e41f26;
  font-weight: 500;
  font-size: 0.7rem;
}

.formulario-login .ojo-password {
  z-index: 999;
}

.formulario-login .ojo-password:hover {
  cursor: pointer;
}

.formulario-login .password-visible {
  display: none;
}

.formulario-login .no-valido-input {
  border-left: none !important;
  border: 1px solid #e41f26;
}

.formulario-login .no-valido-icon {
  border: 1px solid #e41f26;
  border-right: none;
}

/* MAIN login-comercio - fin */
/* ========================================= */
/* MAIN ingreso-comercio - inicio */
.ingreso-saludo h3 {
  margin-top: 4.7rem;
  text-align: center;
  color: #00458a;
  font-weight: normal;
  font-size: 1.9rem;
}

.ingreso-botones {
  margin-top: 3.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.txt-normal {
  text-transform: initial;
}

/* MAIN ingreso-comercio - fin */
/* ========================================= */
/* MAIN sacar-foto-frente - inicio */
.main-frente,
.main-dorso,
.main-selfie,
.main-gestual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-frente__icono,
.main-dorso__icono,
.main-selfie__icono,
.main-gestual__icono {
  margin-top: 1.5rem;
}

.main-frente__icono svg,
.main-dorso__icono svg,
.main-selfie__icono svg,
.main-gestual__icono svg {
  width: 13.25rem;
}

.main-frente__titulo,
.main-dorso__titulo,
.main-selfie__titulo,
.main-gestual__titulo {
  margin-top: 1.5rem;
}

.main-frente__titulo h3,
.main-dorso__titulo h3,
.main-selfie__titulo h3,
.main-gestual__titulo h3 {
  color: #00458a;
  font-weight: bold;
  font-size: 1.25rem;
}

.main-frente__titulo p,
.main-dorso__titulo p,
.main-selfie__titulo p,
.main-gestual__titulo p {
  color: #00458a;
  font-weight: normal;
  font-size: 5vw;
}

.main-frente__reglas,
.main-dorso__reglas,
.main-selfie__reglas,
.main-gestual__reglas {
  margin-left: 1.9rem;
}

.main-frente__reglas--requisitos,
.main-dorso__reglas--requisitos,
.main-selfie__reglas--requisitos,
.main-gestual__reglas--requisitos {
  margin-top: 1.3rem;
  color: #00458a;
  font-weight: bold;
  font-size: 4.2vw;
}

.main-frente__reglas--requisitos span svg,
.main-dorso__reglas--requisitos span svg,
.main-selfie__reglas--requisitos span svg,
.main-gestual__reglas--requisitos span svg {
  width: 2rem;
  height: 1.4rem;
  margin-left: -.6rem;
  margin-right: 0.4rem;
}

.main-frente__reglas--selfie,
.main-dorso__reglas--selfie,
.main-selfie__reglas--selfie,
.main-gestual__reglas--selfie {
  margin-top: 1.9rem;
  line-height: 0.01rem;
  color: #00458a;
  font-weight: bold;
  font-size: 3.8vw;
}

.main-frente__reglas--selfie:nth-child(2),
.main-dorso__reglas--selfie:nth-child(2),
.main-selfie__reglas--selfie:nth-child(2),
.main-gestual__reglas--selfie:nth-child(2) {
  margin-top: 1.4rem;
}

.main-frente__reglas .selfie-cara,
.main-dorso__reglas .selfie-cara,
.main-selfie__reglas .selfie-cara,
.main-gestual__reglas .selfie-cara {
  margin-top: 0.7rem;
}

.main-frente__reglas .selfie-cara span,
.main-dorso__reglas .selfie-cara span,
.main-selfie__reglas .selfie-cara span,
.main-gestual__reglas .selfie-cara span {
  margin-right: -0.6rem;
  margin-left: -0.8rem;
}

.main-frente__botones,
.main-dorso__botones,
.main-selfie__botones,
.main-gestual__botones {
  margin-top: 0.1rem;
}

/* MAIN sacar-foto-frente - fin */
/* ========================================= */
/* MAIN verificar-foto-frente - inicio */
.main-verificar-frente__cabecera,
.main-verificar-dorso__cabecera,
.main-verificar-selfie__cabecera,
.main-verificar-gestual__cabecera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-verificar-frente__cabecera p,
.main-verificar-dorso__cabecera p,
.main-verificar-selfie__cabecera p,
.main-verificar-gestual__cabecera p {
  margin-top: 1.3rem;
  color: #00458a;
  font-weight: normal;
  font-size: 1.25rem;
}

.main-verificar-frente__cabecera p:nth-child(2),
.main-verificar-dorso__cabecera p:nth-child(2),
.main-verificar-selfie__cabecera p:nth-child(2),
.main-verificar-gestual__cabecera p:nth-child(2) {
  margin-top: -0.2rem;
  color: #00458a;
  font-weight: bold;
  font-size: 1.25rem;
}

.main-verificar-frente__imagen,
.main-verificar-dorso__imagen,
.main-verificar-selfie__imagen,
.main-verificar-gestual__imagen {
  margin: 0 auto;
  width: 19.375rem;
  height: 12.67rem;
  border-radius: 15px;
}

.main-verificar-frente__botones,
.main-verificar-dorso__botones,
.main-verificar-selfie__botones,
.main-verificar-gestual__botones {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0.3rem;
}

/* MAIN verificar-foto-frente - fin */
/* ========================================= */
/* MAIN sacar-foto-gestual - inicio */
.main-gestual__titulo--gestual {
  margin-top: 0.4rem;
  color: #219653;
  font-weight: bold;
  font-size: 1.25rem;
}

.main-gestual__subtitulo {
  color: #00458a;
  font-weight: bold;
  font-size: 5.125vw;
}

.main-gestual__reglas--gestual {
  color: #00458a;
  font-weight: bold;
  font-size: 4.1vw;
  line-height: 0.6rem;
}

.main-gestual__icono--gestual {
  margin-top: 2.2rem;
}

.main-gestual__icono--gestual svg {
  width: 13.25rem;
  max-width: 100%;
}

/* MAIN sacar-foto-gestual  - fin */
/* ========================================= */
/* MAIN finalizando-comercio - inicio */
.main-finalizando-comercio {
  margin-bottom: 5rem;
}

.main-finalizando-comercio__mensaje {
  color: #00458a;
  font-weight: normal;
  font-size: 1.75rem;
}

.separador-invisible {
  background: red;
  height: 4rem;
  margin-bottom: 2rem;
  width: 100%;
}

.footer-crear-cuenta {
  background: #00458a;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 14.58rem;
  border-radius: 19px 19px 0 0;
}

.footer-crear-cuenta__titulo P {
  margin-top: 1.9rem;
  text-align: center;
  line-height: 0;
  font-style: normal;
  color: #fff;
  font-weight: bold;
  font-size: 5vw;
}

.footer-crear-cuenta__botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.8rem;
}

.footer-crear-cuenta__botones--google, .footer-crear-cuenta__botones--facebook {
  width: 92.5%;
}

.footer-crear-cuenta__botones--facebook {
  text-transform: capitalize;
  color: #00448a;
  font-weight: bold;
  font-size: 0.9rem;
}

.footer-crear-cuenta__botones .icon-facebook,
.footer-crear-cuenta__botones .icon-google {
  position: relative;
  width: 1rem;
  height: 1rem;
  top: -2rem;
  right: 35%;
}

.footer-crear-cuenta__botones .icon-google {
  top: -2rem;
}

.footer-crear-cuenta__botones--google {
  text-transform: capitalize;
  color: #dd4b39;
  font-weight: bold;
  font-size: 0.9rem;
}

/* MAIN finalizando-comercio - fin */
/* ========================================= */
/* MAIN validar-identidad - inicio */
.main-validar-identidad__regresar svg {
  width: 22px;
  height: 21px;
}

.main-validar-identidad__buscador #buscador {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.7rem auto;
  max-width: 90vw;
  width: 100%;
  height: 1.9rem;
  border-radius: 13.5rem;
  background-color: #BDBDBD;
  border: none;
  padding-left: 4.4rem;
  padding-bottom: 0.07rem;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.8rem;
}

.main-validar-identidad__buscador #buscador::-webkit-input-placeholder {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.8rem;
}

.main-validar-identidad__buscador #buscador:-ms-input-placeholder {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.8rem;
}

.main-validar-identidad__buscador #buscador::-ms-input-placeholder {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.8rem;
}

.main-validar-identidad__buscador #buscador::placeholder {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.8rem;
}

.main-validar-identidad__buscador svg {
  position: absolute;
  top: 8.6rem;
  right: 1.8rem;
  width: 16px;
  height: 16px;
}

.main-validar-identidad__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-validar-identidad__titulo h2 {
  margin-top: 0.5rem;
  color: #00458a;
  font-weight: normal;
  font-size: 1.375rem;
}

.main-validar-identidad__resultados--lista .persona {
  height: 3.6rem;
}

.main-validar-identidad__resultados--lista .persona .persona-nombre {
  font-family: 'Roboto', sans-serif;
  color: #828282;
  font-weight: normal;
  font-size: 1rem;
}

.main-validar-identidad__resultados--lista .persona .persona-dni {
  font-family: 'Roboto', sans-serif;
  position: relative;
  bottom: 0.4rem;
  color: #828282;
  font-weight: normal;
  font-size: 0.75rem;
}

.main-validar-identidad__resultados--lista .persona svg {
  position: relative;
  float: right;
  width: 24px;
  height: 24px;
  bottom: 1.96rem;
}

.main-validar-identidad__paginador {
  margin: 0 auto;
}

.main-validar-identidad__paginador--numeros {
  margin-top: 2.23rem;
}

.main-validar-identidad__paginador--numeros p {
  position: relative;
  left: 1.9rem;
  bottom: 1.4rem;
  font-family: 'Roboto', sans-serif;
  color: #828282;
  font-weight: normal;
  font-size: 0.75rem;
}

.main-validar-identidad__paginador .flecha-paginador {
  width: 46px;
  height: 46px;
}

.main-validar-identidad__paginador .flecha-paginador.atras {
  margin-left: 6rem;
}

.main-validar-identidad__paginador .flecha-paginador.adelante {
  margin-left: -3rem;
}

.main-validar-identidad .tick-active {
  -webkit-filter: invert(47%) sepia(47%) saturate(2433%) hue-rotate(73deg) brightness(94%) contrast(103%);
          filter: invert(47%) sepia(47%) saturate(2433%) hue-rotate(73deg) brightness(94%) contrast(103%);
}

/* MAIN validar-identidad - fin */
/* ========================================= */
@media only screen and (min-width: 435px) {
  .wrapper-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2rem auto;
    margin-top: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 24.5rem;
    height: 35.9rem;
    max-height: 100%;
    width: 100%;
    border: 10px solid #00458a;
    border-radius: 25px;
    border-style: double;
    -webkit-box-shadow: 0px 0px 10px 3px #000448;
            box-shadow: 0px 0px 10px 3px #000448;
    overflow: auto;
  }
  .wrapper-desktop.validar-id {
    overflow: hidden;
    height: 40rem;
  }
  .header__directo.pantallas {
    margin-top: -1.6rem;
    width: 100%;
  }
  .header__directo.pantallas svg {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
  }
  .header__directo {
    margin-top: -5.2rem;
    width: 23.3rem;
    max-width: 100%;
    height: 7.5rem;
  }
  .header__directo svg {
    padding-top: 1.9rem;
  }
  .header__directo.login {
    margin-top: -3.2rem;
  }
  .header__directo.validar-id {
    margin-top: -.5rem;
  }
  .persona-tick {
    position: relative;
    left: 2.1rem;
  }
  .noti-desktop {
    left: 30rem !important;
  }
  .regresar-desktop {
    position: relative;
    right: .9rem;
  }
  .flecha-paginador.atras {
    position: relative;
    right: 1.1rem;
  }
  .paginador-desktop {
    position: relative;
    right: .8rem;
  }
  .flecha-paginador.adelante {
    position: relative;
    left: 1.2rem;
  }
}
